<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202707505931-el11o7903mrqmg8p8abnmm6hda4sda52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202707505931-el11o7903mrqmg8p8abnmm6hda4sda52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202707505931-flhnp2r9rre2lc48hibrrnlms279pls2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9I49hiefvVeRipEcKScExC8O1Q4EOhec</string>
	<key>GCM_SENDER_ID</key>
	<string>202707505931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.text.tezDealz</string>
	<key>PROJECT_ID</key>
	<string>tezdealz-3f505</string>
	<key>STORAGE_BUCKET</key>
	<string>tezdealz-3f505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202707505931:ios:0e27e7b743d7d6fa5a880e</string>
</dict>
</plist>